html, body {
	min-width: 750px;
	/*height: 100%;*/
	font-size: 32px;
	-webkit-text-size-adjust: none;
	line-height: 42px;
}	

input, textarea, select{
    font-family: "ProximaNova-Bold";
    font-size: 28px !important;
    line-height: 40px;
}

input::-webkit-input-placeholder {
	font-family: "ProximaNova-Bold";
	font-size: 28px;
	color: #C2C2C2;
}
input:-moz-placeholder {
	font-family: "ProximaNova-Bold";
	font-size: 28px;
	color: #C2C2C2;
	
}
textarea::-webkit-input-placeholder {
	font-family: 'Helvetica Neue', helvetica, arial, serif;
	font-size: 28px;
	line-height: 40px;
	color: #A0A0A0;
	font-weight: 400;
}
textarea:-moz-placeholder {
	font-family: 'Helvetica Neue', helvetica, arial, serif;
	font-size: 28px;
	line-height: 40px;
	color: #A0A0A0;
	font-weight: 400;
}
a
{
}
	a:hover
	{
	}
.fancybox-close {
	width: 34px;
	height: 36px;
	top: 19px;
	right: 32px;
	background-image: url("../i/big-close.png");
	background-size: 34px 36px;
}
.fancybox-inner{
}
.fancybox-skin {
}
.fancybox-opened .fancybox-skin {
}
.b-popup {
	width: 710px;
	margin-bottom: 30px;
}
	.b-popup h3{
		font-size: 34px;
		line-height: 40px;	
		
	}
	h3.popup-title {
		padding: 18px 17px 15px 31px;
		font-size: 34px;
		line-height: 40px;	
		font-size: 40px;
		line-height: 40px;
}
		.b-popup .popup-desc {
			padding: 25px 19px 23px 19px;	
		}
			.b-popup .popup-desc .popup-img{
				
				width: 38%;
				margin-right: 20px;
			}
				.b-popup .popup-desc .popup-img img{
					width: 100%;
				}
			.b-popup .popup-desc .popup-text {
				width: 58%;
			}
				.b-popup .popup-desc .popup-text h3 {
    				margin-bottom: 14px;	
				}
				.b-popup .popup-desc .popup-text h4 {
    				font-size: 28px;			
    				margin-bottom: 18px;
				}
				.b-popup .popup-desc .popup-text h5{
					font-size: 24px;
					line-height: 21px;
					margin-bottom: 6px;
				}
					.b-popup .popup-desc .popup-text h5 b{
						font-size: 40px;
						line-height: 34px;
					}
				.b-popup .popup-desc .popup-text h6{
					font-size: 28px;
					line-height: 40px;
					font-weight: 400;
				}
					.b-popup .popup-desc .popup-text h6 span{
						line-height: 17px;
						font-weight: 600;
					}
	.b-popup form {
		padding: 17px 33px 27px;
	}
		.b-popup form p {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 20px;
		}
			.input-cont label.input-title {
			    font-size: 28px;
			    margin-top: 21px;
			}
			.input-cont input[type=text],.input-cont select, .input-cont textarea {
			    width: 465px;
			    padding: 15px 30px 13px 15px;
			}
			.b-popup .input-cont input[type=text],.b-popup .input-cont select {
			    width: 375px !important;
			    padding: 15px 30px 13px 15px;
			}
			.input-cont .email-tooltip {
				display: none !important;
			}
			.input-cont p.select-tooltip {
				font-size: 19px;
    			line-height: 23px;
			}
			.b-popup .b-text .btn-g{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		.b-popup form .btn-g {
			width: auto;
			margin-top: 20px;
			font-size: 28px;
			padding: 21px 60px 19px;	
			letter-spacing: 1.09px;
		
			line-height: 40px;
			margin-bottom: 10px;
}
	.b-popup .b-text {
		padding: 20px 31px; 
	}
	.b-popup .b-text p{
		margin-bottom: 15px;
	}
.b-city {
	width: 710px;
}
	.b-city .b-city-cont {
		padding: 31px 31px 0px;
	}

.b-city-cont {

}
		.b-city .b-city-cont .cur-city{
			margin-bottom: 0px;
		}
		.b-city .b-city-cont .cur-city a{
			display: block;	    
			line-height: 28px;
			margin-left: 15px;
			font-size: 28px; 
		}
	.b-city h4 {
		font-size: 24px;
    	margin-bottom: 15px;
	
		line-height: 50px;
		display: none;
}	
	.b-city .city-list {
		width: 100%;
	    font-size: 15px;
	    line-height: 24px;
	    height: 124px;
	
		display: none;
}	

		.b-city .city-list ul {		
		    height: 100%;
			padding-left: 20px;
		
		}	
		.b-city .city-list.overflow ul{
			overflow: auto;
		}
			.b-city .city-list ul li {
				width: 33%;
			}
			.b-city .city-list ul li.active a{
				color: #2DA73D;
			}
				.b-city .city-list ul li.active a:after{
				    font-size: 0px;
				    width: 15px;
				    height: 12px;    
					left: -20px;
				    top: 3px;		
				}

	.b-city .show-btn{
		padding: 10px 32px;
	
		display: none;
}	
		.b-city .show-btn a{
    		font-size: 15px;
			color: #2DA73D;
		}
		.b-city .show-btn a:hover{
		}	
	.b-city .b-city-select-cont {
		padding: 20px 31px 30px;
	}
		.b-city .b-city-select-cont label{
			font-size: 24px;	    
			line-height: 50px;
			margin-bottom: 10px;
		}
		.b-city .b-city-select-cont input{
			width: 492px;
			padding: 15px 30px 15px 15px;
			font-size: 28px;
}
		.ui-autocomplete {
			width: 490px !important;
		}
		.ui-autocomplete .ui-menu-item {
			font-size: 24px;
			width: 490px !important;
			padding: 10px 20px;
		}
		.ui-autocomplete .ui-menu-item:hover {
		}
		label.desktop-label{
			display: none !important;
		}
		label.mobile-label{
			display: block !important;
		}
	.b-city .b-city-select-cont a{
		line-height: 22px;
		margin-left: 30px;
		font-size: 28px;
	
}

#all
{
	margin: auto;
	min-height: 100%;
}
	.b-allwrap
	{
		padding-bottom: 334px;
	}
	.b-container
	{
		width: 100%;
	}
	.b-wrap
	{
		margin: auto;
		max-width: 980px;
		padding: 0 20px;
	
		/* padding-bottom: 50px; */
}
		.b-wrap .b-wrap
		{
			padding: 0px !important;
			width: 100%;
		}
		.b-block-left
		{
		}
		.b-block-right
		{
		}
		.all-overlay
		{
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;			
		}
			.all-overlay.active-overlay
			{
				left: 0px;		
			}	
			.active-main
			{	
			}
/* aside nav */		
.b-aside-nav
{
	width: 500px;
	height:0;
	z-index: 111;
	top: 0px;
	height: 100%;
	left: 0px;
	-webkit-transform: translateX(-510px);
	   -moz-transform: translateX(-510px);
	    -ms-transform: translateX(-510px);
	   	 -o-transform: translateX(-510px);
			transform: translateX(-510px);
}
.b-aside-nav .b-menu-item:last-child p:first-child{
	margin-bottom: 47px;
}
	.active-aside
	{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
		    -ms-transform: translateX(0px);
		   	 -o-transform: translateX(0px);
				transform: translateX(0px);
		height: 100%;	
	}
	.b-aside-overflow
	{		
		height: 100%;
		width: 500px;
	}
	.b-aside-nav-wrap
	{
		padding: 50px 30px 40px 30px;
		width: 440px;
	}
		.b-aside-nav-wrap .b-menu-list
		{
			margin: 0px 0px 0 0px !important;				
		}
			.b-aside-nav-wrap .b-menu-list > li 
			{
				margin-bottom: 0px;
				width: 100%;
			}
				.b-aside-nav-wrap .b-menu-list a
				{
					padding: 5px 30px;
					margin: 0 -30px;
					font-size: 35px;
					line-height: 60px;
				}			
					.b-aside-nav-wrap .b-menu-list li a:hover, .b-aside-nav-wrap .b-menu-list .active a
					{
						color: #000;
					}
				.b-aside-nav .b-menu-item
				{
					font-size: 16px;				
					padding-top: 0px;
				}
					.b-aside-nav .b-menu-item:first-child
					{
						border: 0px !important;
						padding-top: 0px;
					}
				.b-aside-nav .b-menu-item h5
				{
					font-size: 16px;
					margin-bottom: 10px;								
				}
					.b-aside-nav .b-menu-item ul
					{
						margin-left: 0em;
					}
			.b-menu-item p
			{
				margin-bottom: 1em;
			}
				.b-aside-nav .b-menu-item p
				{
					font-size: 24px;
					line-height: 19px;
				}
/* cart menu */
.b-cart-menu-cont{
	display: none;
}
.b-cart-menu{
	display: block;
	opacity: 1;
	position: relative !important;
	left: 0px !important;
	top: 0px !important;
	margin-bottom: 30px;
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	   	 -o-transform: translateY(0px);
			transform: translateY(0px);
}
.b-cart-menu .popup-title{
	display: block;
}
	.b-cart-items{
		width: 708px;
	}
		.b-cart-items li{
			padding: 18px 50px 0px 20px; 
		}
			.b-cart-items li img{
				margin-top: 3px;
				width: 120px;
				margin-left: 30px;
				margin-bottom: 20px;
				margin-right: 15px;
			}
			.b-cart-items li .b-desc{
				width: 430px;
			}
				.b-cart-items li .b-desc a{
					font-size: 32px;
					margin-bottom: 7px;
					line-height: 44px;
				}
					.b-cart-items li .b-desc a:hover{
					}
				.b-cart-items li .b-desc h4{
					font-size: 32px;
					margin-bottom: 5px;
					line-height: 40px;
				}
				.b-cart-items li .b-desc .b-cart-item-count{
					font-size: 28px;
					line-height: 30px;
				
					display: block;
}
			.b-cart-items li .close-button{
				background-image: url('../i/cart-close.png');
				background-size: 18px;
				width: 50px;
				height: 50px;
				right: 17px;
				top: 18px;
			}
				.b-cart-items li .close-button:hover{
					opacity: 0.7;
				}
	.b-cart-menu .b-cart-bottom{

	}
		.b-cart-menu .b-total-price{
			font-size: 34px;
			margin-top: 31px;
			margin-left: 28px;
		}
			.b-cart-menu .rub{

			}
		.b-cart-menu .btn-g{
			margin: 21px 20px;
			padding: 22px 29px 20px 28px;
		}
			.b-cart-menu .btn-g span{

			}
	/* DT */
	.b-mobile-view
	{
		display: none;
	}
		.b-mobile-view.tablet-menu
		{
			width: 204px;
			padding: 55px 65px 35px 62px;
			position: absolute;
			right: 21px;
			top: 37px;
			z-index: 100;
		}			
		.tablet-menu ul
		{

		}	
			.tablet-menu li a
			{
				display: block;
			}
				.tablet-menu li a:hover
				{
				}
			.tablet-menu .b-menu-item
			{
				padding-bottom: 25px;
				margin-bottom: 35px;
			}
				.tablet-menu .b-menu-item li
				{
					margin-bottom: 10px;
				}
			
			.top-menu-search
			{
				padding: 41px 35px 45px 20px;
				width: 240px;
				height: 36px !important;
				font-size: 28px;
				margin-bottom: 0px;	
			}
				.top-menu-searcher
				{
					width: 85px;
					background: url() 65% center no-repeat;
					background-image: url('../i/big-search.png'); 
					background-size: 28px;
					background-color: transparent;		
					vertical-align: middle;
					height: 85px;
					background-color: transparent !important;
					display: inline-block;
					position: absolute;
					right: 0px;
					top: 0px;
					cursor: pointer;
					z-index: 10;
					border: 0px !important;
				}
				.b-aside-nav .top-menu-searcher
				{
				}
				.b-menu-item form
				{
				}
					.top-menu-searcher:active
					{
						top: 2px;
					}
					.b-nav-search ::-webkit-input-placeholder       ,   .b-menu-list ::-webkit-input-placeholder       {text-indent: 0px;  transition: text-indent 0.2s ease;}
					.b-nav-search ::-moz-placeholder                ,   .b-menu-list ::-moz-placeholder                {text-indent: 0px;  transition: text-indent 0.2s ease;}
					.b-nav-search :-moz-placeholder                 ,   .b-menu-list :-moz-placeholder                 {text-indent: 0px;  transition: text-indent 0.2s ease;}
					.b-nav-search :-ms-input-placeholder            ,   .b-menu-list :-ms-input-placeholder            {text-indent: 0px;  transition: text-indent 0.2s ease;}
					.b-nav-search :focus::-webkit-input-placeholder ,   .b-menu-list :focus::-webkit-input-placeholder {text-indent: -400px; transition: text-indent 0.2s ease;}
					.b-nav-search :focus::-moz-placeholder          ,   .b-menu-list :focus::-moz-placeholder          {text-indent: -400px; transition: text-indent 0.2s ease;}
					.b-nav-search :focus:-moz-placeholder           ,   .b-menu-list :focus:-moz-placeholder           {text-indent: -400px; transition: text-indent 0.2s ease;}
					.b-nav-search :focus:-ms-input-placeholder      ,   .b-menu-list :focus:-ms-input-placeholder      {text-indent: -400px; transition: text-indent 0.2s ease;}
			.b-close-tablet-menu
			{
				display: none;
				position: absolute;
				width: 50px;				
				height: 50px;
				top: -52px;			
				right: -1px;
				z-index: 10;
			}
			.b-close-tablet-menu:hover 
			{
			}
				.burger-link.active:hover .b-nav-burger-ico
				{
				}
				.burger-link.active .b-nav-burger-text
				{
				}
			.b-close-tablet-menu
			{
				top: -52px;
				opacity:1;	
			}

/* topmenu */	
.b-topmenu
{
	padding: 20px 0px;
	min-height: 0px;
	display: none;
}
.b-topmenu-bottom{
	display: block;
	padding-bottom: 20px !important;
	margin-bottom: 22px;
	margin-top: -18px;
	padding-top: 0px;
	border-bottom: 1px solid #DADADA;
}
	.b-topmenu a
	{
    display: no;
	}
		.b-topmenu a:hover
		{
		}
	.b-topmenu ul
	{
	}
		.b-topmenu ul li
		{
		}
	.b-topmenu-help
	{
		padding-top: 2px;
	}	
		.topmenu-tel
		{
			font-size: 30px;
			line-height: 29px;
			margin-right: 15px;
}
		.b-topmenu-help .topmenu-tel{
			display: none;
		}
			.topmenu-tel:hover
			{
			}
		.b-topmenu-callback
		{
			display: none;
			font-size: 28px;
		}
			.b-topmenu-callback:hover
			{
			}
	.b-topmenu-links
	{
		padding-top: 1px;
		font-size: 30px;
		line-height: 30px;	
		padding-right: 0px;
	
		float: none;
}	
		.b-topmenu-links a
		{
			letter-spacing: 1px;
			font-size: 32px;
		}
			.b-topmenu-links a:hover
			{
				
			}
		.b-topmenu-links li
		{
			padding-left: 25px;
		
			float: right;
}
			.b-topmenu-links li:first-child
			{
				padding-left: 0px;
			
				float: left;
}
	.b-navigation .b-topmenu-basket, .b-topmenu-basket
	{		
		display: none;
		width: 151px;
		padding: 16px 16px 0 20px;
		min-height: 35px;
	}
		.b-topmenu-basket:hover
		{
		}
		.b-top-basket-name
		{
			font-size: 28px;
			letter-spacing: 1px;
			line-height: 16px;
			padding-left: 41px;			
		}
			.b-top-basket-name:before
			{
				
			}
		.b-top-basket-count
		{
			min-width: 28px;
			padding-top: 2px;
			line-height: 19px;
		}
			.b-topmenu-basket:hover .b-top-basket-count
			{
				
			}
.b-header
{
	font-size: 0px;
	padding: 30px 0px;
	min-height: 0px;
}
		a.b-logo
		{
			
		}
		.b-logo
		{
			width: 291px;
			height: 57px;
		}
			.b-logo span
			{
			}
	.b-head-city
	{
		font-size: 32px;
		margin-top: -13px;
		left: auto;
	
		right: 20px;
	}
		.b-head-city font{
			display: none;
		}
		.b-choose-city
		{
			font-size: 32px;
			margin-left: 5px;
			line-height: 24px;
		}
		.b-choose-city:hover
		{
		}
	.b-head-features
	{
		display: none;
		padding-top: 9px;
	}
		.b-head-features ul
		{
		}
			.b-head-features li
			{
				margin-left: 16px;
			}
			.b-feature-item 
			{
				font-size: 12px;
				padding-left: 50px;
				min-height: 36px;
				line-height: 14px;
			}
				.b-feature-item  strong
				{

				}
				.f-ico-1
				{
					width: 70px;
				}
				.f-ico-2
				{
					max-width: 98px;
				}
				.f-ico-3
				{
					max-width: 70px;
				}
					.ico-item
					{
						width: 50px;
						height: 36px;
					}
/*  mobile navigation	*/
.b-mobile-nav{
	display: block;
	padding: 15px 0px;
	text-align: center;
}
	.b-mobile-nav .b-burger-button{
		margin-top: 1px;
		background-position: 0% 0%;
		background-repeat: no-repeat;
		background-image: url('../i/burger-menu.png');
		width: 120px;
		height: 80px;
		background-size: 70px;
		display: inline-block;
		color: #FFF;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 20px;
		text-align: left;
		box-sizing: border-box;
		padding-top: 47px;
		padding-left: 3px;
	}
	.b-mobile-nav .b-phone{
		width: 400px;
		display: inline-block;
	}
		.b-mobile-nav .b-phone .topmenu-tel{
			color: #FFF !important;
			font-size: 40px;
			line-height: 50px;
			margin-right: 0 !important;
		}
		.b-mobile-nav .b-phone .b-nav-phone-time{
			font-size: 20px;
			line-height: 30px;
		}
	.b-mobile-nav .b-small-cart-icon{
		background-position: 100% 50%;
		background-repeat: no-repeat;
		background-image: url('../i/big-cart.png');
		width: 120px;
		height: 80px;
		background-size: 80px;
		display: inline-block;
	}
/* all navigation */
.b-navigation
{
	min-height: 112px;
}
	.b-submenu
	{
	}
	.affix {
	}
		.b-navigation .affix
		{
		}
		.b-nav-wrap
		{
		}		
	.b-nav-search
	{		
		display: none;
		width: 240px;
	 	right: 30px;
	}
		.affix .b-nav-search
		{
		}
	.b-nav-list
	{
		display: none;
		margin-left: -23px;
		margin-right: 270px;
		font-size: 0px;
	}
		.b-nav-list > li
		{
		}
		.b-nav-list > li > a
		{
			padding: 32px 19px;
			font-size: 14px;
			line-height: normal;
			letter-spacing: 1px;
		}
			.affix .b-nav-list > li > a
			{
				padding: 27px 19px;
			}
			.b-nav-list a:hover
			{
			}
				.b-nav-list .active a
				{
				}
			.b-navigation .affix .b-topmenu-basket
			{
				right: 20px;
				padding-top: 0px;
				padding: 26px 16px 0 20px;
				min-height: 45px;
				display: none;
			}
				.b-navigation .affix .b-topmenu-basket .b-top-basket-count
				{
				}
				.b-navigation .affix .b-topmenu-basket:hover
				{
				}
		/* DT */
		.b-nav-phone
		{
		}
			.b-nav-phone
			{
				display: none !important;
				right: 222px;
			}
					.affix .b-nav-phone
					{
						width: 170px;
						padding-top: 15px;
					}
				.b-nav-phone .topmenu-tel
				{
					display: block;
					font-size: 28px;
					line-height: 24px;
					margin-right: 0px;
				}
				.b-nav-phone-time
				{
					width: 100%;
					font-size: 11px;
					line-height: 13px;
				}
		.b-navigation .b-topmenu-basket
		{
			right: 30px;
		}
			/* MT */
			.b-nav-burger
			{
				right: -1px;
			}
			.active-main .b-nav-burger
			{
				right: 30px;
			}
				.b-nav-burger-span
				{
					width: 100%;
					height: 50px;					
				}				
					.b-nav-burger-ico
					{
						width: 50px;
						height: 50px;
					}
					.b-nav-burger-span:hover .b-nav-burger-ico
					{
					}
						.b-nav-burger-span.active .b-nav-burger-ico
						{
						}
						.b-nav-burger-span.active .b-nav-burger-ico:after
						{
							right: 2px;
							bottom: -2px;
							width: 52px;
							height: 2px;
						}
					.b-aside-nav .b-nav-burger-span
					{
					}                                        
					.active-aside .b-nav-burger-span
					{
					}
						.b-aside-nav .close-menu .b-nav-burger-ico
						{
						}
						
	
	.b-subblock 
	{
		display: none;
	}
	.b-subblock .b-submenu
	{
		margin-left: -13px;
	}
		.b-subblock .b-submenu li 
		{
		}
		.b-subblock .b-submenu li > a
		{
			padding: 22px 13px;
			font-size: 14px;
			line-height: normal;
			letter-spacing: 1px;
		}
		 	.b-subblock .b-submenu a:hover
			{
			}
				.b-subblock .b-submenu li.active a
				{
				}
	.b-subblock.active
	{
	}
/* main about */
.b-main-about
{
	display: none;
	margin-bottom: 43px;
	padding: 18px 0 14px 0;
}
	.b-main-about li
	{
		font-size: 0px;
	}
		.b-main-about li a
		{
			font-size: 16px;
			line-height: 18px;
			margin-right: 34px;
		}
		.b-main-about li:last-child a{
			margin-right: 0px;
		}
/* Main Structure */		
.b-aside
{
	display: none;
	width: 280px;
	margin-right: 20px;
}	
	.b-aside h3
	{
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 14px;
	}
		.b-aside h3 a
		{
		}
			.b-aside h3 a:hover
			{
			}
.b-content
{
}
	.btn
	{
		margin-bottom: 0;
		font-size: 11px;		
		letter-spacing: 1px;
		padding: 28px 60px 25px 60px;
		line-height: 22px;
		font-size: 28px;
	}
		.btn:hover
		{
		}
		.btn:active
		{
		}
	.btn-y
	{
		
	}
	.btn-g
	{
	}
		.btn-g:hover
		{
		}
	.btn-p, .discount .btn-g
	{
	}
		.btn-p:hover, .discount .btn-g:hover
		{
		}
		
/* aside */
.b-security
{
	padding: 0px 0 0 90px;
	font-size: 28px;
	line-height: 18px;
	margin-bottom: 37px;
}
.b-filters
{
	margin-bottom: 74px;
}
	.b-filter-group
	{
		display: none;
		margin-bottom: 17px;
	}
		.b-filter-group label
		{
			margin-right: 4px;
			font-size: 12px;
			padding: 5px 13px 3px 13px;
			line-height: 18px;
			margin-bottom: 10px;
		}
		.b-filter-group label.active
		{
		}
			.b-filter-group label:hover
			{
			}

.b-photos-block
{
	margin-bottom: 27px;
	padding: 20px 25px 0 25px;
}
	.b-photos-gallery
	{
		margin-bottom: 59px;
	}
		.b-photos-gallery .royalSlider
		{
			height: 228px;
		}
.b-review-block
{
	padding: 20px 25px;
	margin-bottom: 27px;
}
	.b-review-gallery
	{
		margin-bottom: 59px;

	}
		.b-review-item
		{
			font-size: 28px;
			line-height: 20px;
		}
			.b-review-from
			{
				padding-top: 1.5em;
				font-size: 12px;
				line-height: 20px;
			}
				.b-review-from a
				{

				}
	.b-catalog-refresh.preloading .b-more-ico
	{
		-webkit-animation: rot 1s infinite linear;
		   -moz-animation: rot 1s infinite linear;
				animation: rot 1s infinite linear;
	}
	
	
/* content */	
.b-banner-block
{

}
	.b-banner-gallery
	{
		display: none;
		margin-bottom: 30px;
		margin-bottom: 40px;
	}
	
			.b-banner-gallery .rsDefault .rsBullets
			{
				bottom: 10px;
			}

	
/* catalog */
.b-catalog-block
{
	padding-top: 50px;
}
	.b-catalog-list
	{
		margin-left: -20px;
		font-size: 0px;
	}
		.b-catalog-list li
		{
			width: 680px;
			margin-left: 18px;
			margin-bottom: 40px;				
		}
		.b-catalog-item
		{
			font-size: 32px;
		}
			.b-cat-pic
			{

			}
				.b-cat-pic img{
					width: 500px;
				}
				.b-cat-pic span
				{
					font-size: 40px;
					padding-top: 9px;
					line-height: 38px;
					margin-bottom: 15px;
				}
				.b-cat-pic:hover span
				{
				}
			.b-catalog-item p
			{
				margin-bottom: 25px;
			}
				.b-catalog-item > p
				{
					padding: 0 14%;
				}
			.b-buy
			{
				
			}
				.b-buy .btn
				{
					margin-bottom: 15px;
				}
				.b-item-price
				{
					padding-top: 7px;
					font-size: 50px;
					line-height: 40px;
				}
					.b-item-price small
					{
						font-size: 40px;
						margin-right: 25px;
					}
						.b-item-price small:after
						{
							left: -4%;
							top: -4%;
							width: 108%;
							height: 108%;
						}
					.rub
					{
						font-size: 32px;
					
						position: relative;
						left: 10px;
}
			.b-discount
			{
				width: 140px;
				height: 140px;
				font-size: 50px;
				line-height: 140px;
				right: 0px;
				top: 0px;
			}
			.b-hit
			{
				width: 140px;
				height: 140px;
				font-size: 50px;
				padding-top: 1px;
				line-height: 140px;
				right: 0px;
				top: 0px;
			}
			.discount .b-hit
			{
				top: 100px;
			}
	.b-catalog-refresh
	{
		min-height: 40px;
		margin-bottom: 50px;
	}	
		.b-more-items
		{
			font-size: 28px;
			letter-spacing: 2px;
			line-height: 16px;
		}
			.b-more-items:hover
			{
			}
			.b-more-ico
			{
				width: 30px;
				margin-right: 8px;
				height: 24px;
				margin-bottom: -4px;
				background-size: 29px;
			}
	.b-seo-text
	{
		padding-bottom: 50px;
		padding-left: 0px;
	}
		.b-seo-text h1
		{
			max-height: 10000px;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: .8em;
		}
		.b-seo-text h2
		{
			max-height: 10000px;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: .8em;
		}
		.b-seo-text p
		{
			max-height: 10000px;
			font-size: 32px;
			margin-bottom: 1.5em;
			line-height: 42px;
		}
/* item */
.item
{
	
}	
	.b-item-left
	{
		width: 96%;
		max-width: 96%;
		margin: 0 2%;
		margin-bottom: 50px;
	}
	.b-item-right
	{
		width: 100%;
	}
	/* item left */
	.b-breadcrumbs{
		margin-top: 30px;
	}
		.b-breadcrumbs ul{
			
		}
			.b-breadcrumbs ul li{
				margin-right: 33px;
			}
				.b-breadcrumbs ul li:after{
					font-size: 0px;
					width: 8px;
					height: 13px;
					right: -21px;
    				
					top: 16px;
				}
				.b-breadcrumbs ul li a{
					font-size: 28px;
				}
	.b-item-gallery .rsNavItem{
		/*margin-right: 11px !important;*/
		height: 80px !important;
		width: 84px !important;
	}
	.b-item-gallery .rsThumbsHor{
		height: 79px !important;
	}
	.b-item-gallery
	{
		margin-top: 30px;
		max-width: 100%;
		/* margin-left: 10px; */
	}
		.b-item-gallery .rsDefault .rsThumbsHor{
			display: none;
			margin-left: 0 !important;
		}
		.b-item-gallery .royalSlider
		{
			height: 550px !important;
		}
			.b-item-gallery-arrow {
				width: 30px;
				height: 81px;
				bottom: 1px;
			
				display: none;
}
			.b-item-gallery-arrow.left-arrow{
				left: -25px;
			}
			.b-item-gallery-arrow.right-arrow{
				right: -30px;
			}
				.b-item-gallery-arrow a{
					width: 16px;
					height: 81px;
				}
				.b-item-gallery-arrow.left-arrow a{
					
				}
					.b-item-gallery-arrow.left-arrow:hover a{
					}
				.b-item-gallery-arrow.right-arrow a{
				}
					.b-item-gallery-arrow.right-arrow:hover a{
					}
		.rsThumbsArrow{
		}
		.rsThumbsArrowRight{
			
		}	
			.rsThumbsArrowRight div{

			}

		.b-item-gallery .zoom,.rsContainer:after {
			display: none;
		}
		.b-item-left .delivery-link {
			font-size: 32px;
			margin-top: 0;
		}
			.b-item-left .delivery-link:after {
				
top: 20px;
			}
		.b-item-left .b-photo-delivery .dev-slide {
			max-height: 115px;
		}
	/* item right */
.b-item-right{
	margin-top: 20px;
}
	.b-item-description{
		/*width: 581px;*/
	}
		.b-item-desc-wrap{
			padding: 32px 49px 0px;
		}
			.b-item-description .item-articul{
				font-size: 24px;
				line-height: 45px;
				max-height: 10000px;
			}
			.b-item-description h3{
				line-height: 50px;
				font-size: 40px;
				padding-top: 2px;
				max-height: 10000px;
			}
			.b-item-cost{
				font-size: 50px;
				line-height: 70px;
				padding-top: 1px;
				max-height: 10000px;
			}
				.b-item-cost h4{
    font-family: "ProximaNova-Bold";
				
    font-weight: 400;
}
				.b-item-cost .rub{
    				top: 4px;
				
    				left: 10px;
}
			.b-item-delivery{
				margin-bottom: 10px;
				max-height: 10000px;
			}
				.b-item-delivery span{
					font-size: 28px;
					line-height: 50px;
				}
			.b-item-special{
				padding-left: 35px;
				margin-bottom: 18px;
			}
				.b-item-special .item-special-show{
					max-height: 10000px;
					line-height: 50px;
					font-size: 28px;
				}
					.b-item-special .item-special-show:hover{
					}
					.b-item-special .item-special-show:after{
						position: absolute;
						content: "s";
						font-size: 0px;
						width: 24px;
						height: 20px;
						left: -35px;
						top: 6px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-image: url('../i/green-ok.png');
						background-size: 24px;
					}
			.b-item-choose{
				margin-top: 4px;
				max-height: 10000px;
			}
				.b-item-colors{
					margin-bottom: 20px;
				}
					.b-item-colors .color-pic{
						padding: 5px 35px;
						line-height: 40px;
						font-size: 28px;
					}
						.b-item-colors .color-pic:before{
							font-size: 0px;
							width: 20px;
							height: 20px;
							left: 0px;
							top: 15px;
						}
						.b-item-colors .color-pic.active:before{
						}
					.b-item-colors .color-pic:last-child{
						border-right: 0px;
					}
					.b-item-colors .color-pic.active{

					}
				.b-item-capacity{
					padding: 14px 20px 18px 16px;
				}
					.b-item-capacity .capacity-item{
						height: 40px;
						font-size: 28px;
						margin-bottom: 14px;
					}
						.b-item-capacity .capacity-item:before{
							font-size: 0px;
							left: 0px;
							top: 28px;
							height: 1px;
							width: 100%;
						}
					.b-item-capacity .capacity-item:last-child{
						margin-bottom: 0;
					}
					.b-item-capacity .capacity-item.active{

					}
						.b-item-capacity .capacity-count{
							padding-right: 20px;
							min-width: 60px;
							left: 0px;
							top: 0px;
							padding-left: 30px;
						}
							.b-item-capacity .capacity-count:before{
								font-size: 0px;
								width: 20px;
								height: 20px;
								left: 0px;
								top: 10px;
							}
							.b-item-capacity .capacity-item.active .capacity-count:before{
							}
						.b-item-capacity .capacity-item.active .capacity-count{

						}
						.b-item-capacity .capacity-price{
							padding-left: 10px;
							min-width: 80px;
							right: 0px;
							top: 0px;
						}
							.b-item-capacity .capacity-price b{
							}
				.b-item-buy{
					margin-top: 30px;
					margin-bottom: 30px;
				}
					.b-item-buy .btn{

					}
					.b-item-buy .btn-g{
						padding: 28px 60px 25px 60px;
						line-height: 22px;
						font-size: 28px;
					}
					.b-item-buy a.buy-one-click {
						line-height: 22px;
						font-size: 28px;
						margin-left: 8%;
					}
						.b-item-buy a.buy-one-click:hover{
						}
						.b-item-buy a.buy-one-click span{

						}
			.b-paymethods{
				padding: 20px 49px 18px;
				border-top: 1px solid #E3E3E3;
			}
				.b-paymethods span{
					font-size: 24px;
				}
				ul.b-payments{
					margin-top: 14px;
					margin-left: 0px;
				}
					ul.b-payments li{
						background-size: 480px;
						margin-right: 16px;
						width: 60px;
						height: 60px;
					}
					ul.b-payments li.vi{
						background-position: 0px 0px;
					}
					ul.b-payments li.mc{
						background-position: -60px 0px;
					}
					ul.b-payments li.sb{
						background-position: -120px 0px;
					}
					ul.b-payments li.wm{
						background-position: -180px 0px;
					}
					ul.b-payments li.yd{
						background-position: -240px 0px;
					}
					ul.b-payments li.qw{
						background-position: -300px 0px;
					}
					ul.b-payments li.hz{
						background-position: -360px 0px;
					}
					ul.b-payments li.pp{
						background-position: -420px 0px;
					}

	.b-item-about{
		margin-top: 28px;
		line-height: 42px;
		font-size: 32px;
}
		.b-item-about h4{
			margin-bottom: 19px;
			font-size: 34px;
			line-height: 30px;
		}
		.b-item-kit{
			width: 100%;
			margin-top: 20px;
			/*margin-right: 40px;*/
		}
			.b-item-kit h4{
				
			}
			.b-item-kit ul{
				max-height: 10000px;
				padding-left: 30px;
			
				margin-bottom: 30px;
}
				.b-item-kit ul li{
					padding-left: 10px;
				}
			.b-item-kit .b-share-info{

			}
		.b-item-info{
			width: 100%;
		}
			.b-item-info h4{

			}
			.b-item-info p{
				max-height: 10000px;
			}
	.b-item-reviews{

	}
		.b-review-item{

		}
		.b-review-item p{
			
		}
		.b-review-item p.b-review-from{

		}
		.b-review-item a{

		}
.b-catalog-relative{
	margin-top: 30px;
}
	.b-catalog-relative h3{
		padding-top: 30px;
		padding-bottom: 28px;
		font-size: 28px;
		line-height: 40px;
		letter-spacing: 0.26px;
	}
	.b-catalog-relative .b-catalog-list
	{
		
	}
		.b-catalog-relative .b-catalog-list li{
			width: 100%;
			padding: 0px;
			margin-bottom: 54px;
		}
		.b-catalog-relative .b-catalog-list li:last-child{
			display: none;
		}
		.b-catalog-relative .rsBullets{
			bottom: 25px !important;
		}
		.b-catalog-relative .b-catalog-item{
			padding: 18px 25px 28px;
			width: auto;
		}
			.b-catalog-relative .b-cat-pic{
				width: 100%;
			}
				.b-catalog-relative .b-cat-pic img{
					width: 70%;
				}
			.b-catalog-relative .right{
				width: 100%;
			
				text-align: center;
}
				.b-catalog-relative .right span.b-catalog-list-title{
					padding-top: 13px;
					line-height: 40px;	
					font-size: 32px;
					margin-bottom: 13px;
				}
				.b-catalog-relative .right>p{
					margin-bottom: 10px;
				}
				.b-catalog-relative .right .b-buy{
					
				}
					.b-catalog-relative .right .b-buy .b-item-price{
						margin-bottom: 25px;
					}
						.b-catalog-relative .right .b-buy .b-item-price span{

						}
						.b-catalog-relative .right .b-buy .b-item-price .rub{
    position: relative;

						
    left: 10px;
}
					.b-catalog-relative .right .b-buy .btn-g{
						margin-bottom: 10px;
					}
						.b-catalog-relative .right .b-buy .btn-g span{

						}
/* pagination */		
.b-paginator
{

}
	.b-paginator ul
	{
	}
		.b-paginator li
		{
			margin-right: 9px;
		}
			.b-paginator li a, .b-paginator li span
			{
				font-size: 14px;
				line-height: 30px;
				width: 30px;
				height: 30px;
			}
				.b-paginator li a:hover
				{
				}
			.b-paginator li.active a, .b-paginator li.active span
			{
			}
				.b-paginator li.active a:hover
				{
				}	
.payment-nav {
    margin-bottom: 40px;
}
	.payment-nav .b-wrap p{
		width: 33%;
		/* max-width: 497px; */
		height: 30px;
		margin-right: 1.5%;
	}	
		.b-payment-nav-cont{
    padding-top: 50px;
		}
		.b-payment-nav-cont:before {
		    font-size: 0px;	    
			
		    top: 71px;	    
			height: 2px;
		    width: 50%;
		}
		.b-payment-nav-cont:after {
		    font-size: 0px;	    
			top: 71px;	    
			height: 2px;
		    width: 50%;
		}
	
		.payment-nav .b-wrap p .step-num{    
				    
				    
			
		
			z-index: 10;
		    font-size: 28px;     padding-top: 3px;     line-height: 32px;     height: 40px;     width: 40px;
}	

		.payment-nav .b-wrap p .step-title {
			left: -28px;
			padding-left: 70px;
			padding-right: 25px;
			font-size: 20px;
			line-height: 24px;
			top: 3px;
		
			font-size: 30px;     margin-left: 10px;     margin-top: 5px;
}
	.payment-nav .b-wrap p:nth-child(2){
		width: auto;
		max-width: 532px;
	}
	.payment-nav .b-wrap p:last-child{
		width: 21.5%;
		margin-right: 0;
	}
		.payment-nav .b-wrap p:last-child:before {
		}
		.payment-nav .b-wrap p:last-child .step-title {
			padding-right: 0;
		}
		.payment-nav .b-wrap p.active .step-num{                    
		}
		.payment-nav .b-wrap p.active .step-title {
		
}
		.payment-nav .b-wrap p.complete:before {
		}
		.payment-nav .b-wrap p.complete .step-num{
		}
		.payment-nav .b-wrap p.complete .step-title {
		}

.basket {
    padding-bottom: 70px;

}
	.basket .b-wrap {

	}
		.basket .b-wrap h3{
			margin-bottom: 35px;
		
			font-size: 32px;
			padding-top: 30px;
}
		.basket .b-wrap table{
			width: 100%;
			margin-bottom: 80px;
		}
			.basket .b-wrap table tr:first-child {
			}
				.basket .b-wrap table tr th {
					font-size: 24px;
					line-height: 16px;
					padding: 14px 0 17px;
				}
				.basket .b-wrap table tr th:first-child {
					padding-left: 15px;
				}
				.basket .b-wrap table tr td{
					height: 160px;
				}
				.basket .b-wrap table .item-title > div{
				}
					.basket .b-wrap table .item-title > div .img-cont img {
						max-height: 100px;
						max-width: 100px;
					}
					.basket .b-wrap table .item-title > div h4{
						padding: 0px 10px;
					}
					.basket .b-wrap table .item-title > div .img-cont,.basket .b-wrap table .item-title > div h4{
						vertical-align: middle;
					
						font-size: 28px;
						line-height: 30px;
}
				.basket .b-wrap table tr td:nth-child(1){
					width: 54%;
				}
				.basket .b-wrap table tr td:nth-child(2){
					width: 23%;
				}
				.basket .b-wrap table tr td:nth-child(3){
					font-size: 28px;
					line-height: 22px;
					width: 18%;
				}
				.basket .b-wrap table tr td:nth-child(4){
					width: 10%;
					font-size: 18px;
					line-height: 22px;
					padding-left: 25px;
				}
				.basket .b-wrap table tr td:nth-child(4) span{
					font-size: 0px;
					cursor: pointer;
				}
				.basket .b-wrap table tr td:nth-child(4) span:before{
					font-size: 0px;
					width: 28px;
					background-size: 28px;
					height: 28px;
					left: -27px;
					top: -15px;
				}
				.count-cont {
				    width: 150px;
				}
					.count-cont span{
						width: 54px;
						height: 60px;
						cursor: pointer;
						padding-top: 3px;
						padding-left: 2px;
						border-radius: 40px 0 0 40px;
					}
					.count-cont span.plus {
						padding-top: 7px;
						padding-right: 7px;
						border-radius: 0px 40px 40px 0px;
					}
						.count-cont span:hover{
							background-color: #38BB49;
						}
						.count-cont span:after{
							position: absolute;
							font-size: 40px;
							width: 40px;
							height: 30px;
							text-align: center;
							font-weight: 500;
							font-family: "Helvetica Neue";
							color: #BCBCBC;
						}
						.count-cont span.minus:after{
							top: 2px;
							left: 10px;
							content: "-";
							font-size: 80px;
							font-weight: 300;
						}
						.count-cont span.plus:after{
							top: 4px;
							left: 2px;
							content: "+";
						}
							.count-cont span:hover:after{
								color: #FFF;
							}
						.count-cont input{
							width: 42px;
							height: 60px;
							text-align: center;
							font-family: "ProximaNova-SemiBold";
							font-size: 18px;
							line-height: 22px;
							padding-top: 2px;
							border: none;
							border-left: 1px solid #E9E9E9;
							border-right: 1px solid #E9E9E9;
							box-sizing: border-box;
						}

		.basket .b-wrap .basket-bot {
		
		}
			.basket-bot>.left{
				width: 45%;
			}
			.basket-bot>.right{
				/*margin-left: 20px;*/
				width: 100%;
			}
			.basket .b-wrap .basket-bot .addition {
				width: 100%;
			}
				.basket .b-wrap .basket-bot .addition > div {
					margin-bottom: 50px;
				}
				.basket .b-wrap .basket-bot .addition label{
					width: auto;
					font-size: 28px;
					line-height: 40px;
					max-height: 10000px;
					margin-right: 19px;
				
					margin-bottom: 10px;
}
				label.promokod{
					margin-top: 18px;
				}
				.basket .b-wrap .basket-bot .addition textarea{
					width: 100%;
					height: 140px;
					resize: none;
					padding: 10px 10px 12px 12px;
				}
				.basket .b-wrap .basket-bot .addition input[type=text] {
					width: 335px;
					padding: 20px 10px 19px;
				}
				.basket .b-wrap .basket-bot .addition a {
					font-size: 28px;
					line-height: 61px;
					width: 205px;
					max-height: 10000px;
					padding: 9px;
				}
			.total > div{
				width: 100%;
				padding: 33px 37px 43px 23px;
				margin-bottom: 30px;
			}
			.total h4 {
				font-size: 35px;
				line-height: 40px;
			
				max-height: 10000px;
}
				.total h4 span {
					font-size: 40px;
					line-height: 34px;
				}
				.total h4 span .rubl {
					font-size: 24px;
					line-height: 16px;
				
				
					position: relative;
					left: 7px;
}
			.total h5 {
				font-size: 28px;
				line-height: 35px;
				margin-top: 4px;
			
				max-height: 10000px;
}	
				.total h5 span{
					font-size: 28px;
					line-height: 24px;
				}
				.total h5 span .rubl{
					font-size: 16px;
					line-height: 18px;
				
					position: relative;
					left: 5px;
}
			.total .btn-g {
				width: auto;
				font-size: 28px;
				line-height: 17px;
				padding: 26px 30px 23px;
				margin-top: 11px;
			}
			.total h6{
				font-size: 27px;
				line-height: 24px;
				margin-top: 40px;
				margin-left: 50px;
			
				max-height: 10000px;
}
				.total h6:before {
					font-size: 0px;
					width: 32px;
					height: 31px;
					left: -50px;
					top: -3px;
				}
				.total h3 {
					font-size: 25px;
					max-width: 590px;
					margin-top: 20px;
					margin-left: 18px;
					padding-left: 10px;
					margin-bottom: 23px;
					line-height: 30px;
				
}
					.total h3:before {
						font-size: 70px;
						left: -22px;
						top: 8px;
						line-height: 45px;
					}

				.total a {
					font-size: 28px;
					line-height: 17px;
				}
					.total a:hover{
					}		
			
.flower-add {
    padding-bottom: 40px;

}
	.flower-add .b-wrap{
	}
	.flower-add .b-wrap h3{
   		font-size: 28px;
   		margin-bottom: 10px;
	
   		line-height: 40px;
}
	.flower-add .b-wrap ul{
	}
		.flower-add .b-wrap ul li{
			width: 310px;
			padding: 20px;
			margin-top: 20px;
		}
			.flower-add .b-wrap ul li .left{
				width: 100%;
			
				float: none !important;
}
				.flower-add .b-wrap ul li .left img{
					width: 100%;
				}
			.flower-add .b-wrap ul li .right{
				width: 100%;
			
				text-align: center;
				float: none !important;
				/* padding-top: 10px; */
}
			.flower-add .b-wrap ul li .right h4{
				font-size: 32px;
				line-height: 40px;
				margin-bottom: 7px;
			
				padding-top: 10px;
}
			.flower-add .b-wrap ul li .right h5{
				font-size: 36px;
				line-height: 55px;		
				margin-bottom: 12px;
			}
				.flower-add .b-wrap ul li .right h5 span{
					font-size: 24px;
					position: relative;
					line-height: 21px;
				
					left: 7px;
}
			.flower-add .b-wrap ul li .right a{
				width: auto;
				font-size: 28px;
				line-height: 40px;
				letter-spacing: 2px;
				text-transform: uppercase;
				padding: 12px 40px 11px;
			}
				.flower-add .b-wrap ul li .right a:hover {
				}
.order {
    padding-top: 5px;

}
	.order .b-wrap {
		max-width: 710px;
		padding-bottom: 40px;
	}
		.order .b-wrap .order-item{
			margin-bottom: 30px;
		}
			.order .b-wrap .order-item h3{
    			margin-bottom: 40px;	
    			height: 22px;
			
    			padding-top: 20px;
}

				.order .b-wrap .order-item h3:after{
				    font-size: 0px;		    
	    			
				    top: 30px;
				    height: 2px;
				    width: 100%;
				}
				.order .b-wrap .order-item h3 span{
    				padding-right: 18px;    
    				z-index: 10;
					font-size: 32px;
				}
			.order .b-wrap .order-item .input-cont {
				margin-bottom: 30px;
			}
				.order .b-wrap .order-item .input-cont label{
					font-size: 28px;
					line-height: 44px;
				}
				.order .b-wrap .order-item .input-cont input{
					width: 466px;
					background-position-x: 97%; 
				}
				.order .b-wrap .order-item .input-cont .city{
					font-size: 25px;
					left: 0;
					line-height: 30px;
					top: 51px;
				
					border-bottom: 2px dotted #47669E;
}
					.order .b-wrap .order-item .input-cont .city:hover {
					}
			.order .b-wrap .order-item .check-cont {
				margin-bottom: 10px;
				margin-left: 243px;
			
}
				.check-cont input {
				}
				 .check-cont input:checked + label .checked {
    background-size: 20px;
				
    width: 34px;     height: 34px;
}
				.check-cont label {
					cursor: pointer; 
				}
					.check-cont label .default {
						width: 32px;
						height: 32px;
					}
					.check-cont label .checked {
						width: 34px;
						height: 34px;
					}
					.check-cont label h4 {
						font-size: 27px;
						line-height: 34px;
						margin-left: 15px;
					}
	.order .b-wrap .total{
		width: 100%;
	
		margin-top: 20px;
}
		.order .b-wrap .total > div{
			width: 100%;
			padding-bottom: 20px;
    		padding-left: 35px;
		}
.b-payment {

}
	.b-payment .b-wrap {
    	padding-top: 20px;
    	padding-bottom: 100px;
    	max-width: 950px;
	}
		.b-payment .b-wrap .tooltip-cont {
			margin-bottom: 30px;
		}
			.b-payment .b-wrap .tooltip{
				max-width: 100%;
				font-size: 25px;
				padding: 15px 20px;
				padding-right: 50px;
			
				line-height: 30px;
}
				.b-payment .b-wrap .tooltip .tooltip-close {
					width: 24px;
					height: 26px;
					right: 18px;
					top: 18px;
				}
		.b-payment .b-wrap .b-payment-cont {
		}
			.b-payment .b-wrap .b-payment-cont h2 {
				margin-bottom: 19px;
			
				font-size: 32px;
				line-height: 50px;
}	
			.b-payment .b-wrap .b-payment-cont-left {
				width: 714px;

				
			
				margin-right: 0px;
				padding-top: 30px;
}
				.b-payment .b-wrap .b-payment-cont-left .pay-type-cont {
					width: 100%;
				}
					.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-type {
					    height: auto;
					}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-type > div{
							width: 710px;
							padding-bottom: 25px;
							height: auto;
							padding-top: 20px;
						}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-type > div.active {
							height: auto;
							width: 710px;
						}

						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-type .right{
							padding-top: 26px;
							right: 0px;
						}
					.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc{
						padding: 25px 30px 25px 20px;
						width: 710px;
						position: absolute;
						left: 20px;
						right: 0px;
						box-sizing: border-box;
						background: #FFF;
						/* display: none; */
					}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc >div{
						}	
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc h3 {
							font-size: 28px;
							line-height: 40px;
							margin-bottom: 9px;
						
							text-align: left;
}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc p {
							font-size: 28px;
							line-height: 40px;
							margin-bottom: 27px;
						}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc .clearfix{
							text-align: center;
						}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc .left,
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc .right{
							float: none !important;
						}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc img{
							width: 100%;
						}
						.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-desc .btn-g {
						    margin-top: 24px;					
						    width: auto;
						    font-size: 28px;
						    padding: 24px 50px 22px;
						
						    display: inline-block;
						    margin-bottom: 10px;
}

input.btn.btn-g.right {}
					
			.b-payment .b-wrap .b-payment-cont-right {
				width: 100%;
			
				margin-top: 10px;
				left: 0px;
}
				.b-payment .b-wrap .b-payment-cont-right .pay-data {
					width: 100%;
					padding: 22px 32px 18px;
				}
				.b-payment .b-wrap .b-payment-cont-right .pay-data .input-cont {
    				margin-bottom: 10px;

					}
					.b-payment .b-wrap .b-payment-cont-right .pay-data label {
						margin-top: 0;
						margin-bottom: 4px;
					
						font-size: 28px;
						line-height: 40px;
}
					.b-payment .b-wrap .b-payment-cont-right .pay-data input {
						width: 100%;
					
						padding: 25px 10px;
}					
/* footer */	
.b-footer
{
	width: 100%;
	margin-top: -330px;
	min-height: 0px;
	padding-top: 44px;
	max-height: 10000px;
}
.b-footer .b-menu-item{
	display: none;
}
	.b-footer .b-container
	{
    padding-bottom: 75px;
	}
		.b-footer .b-menu-list
		{
			margin-left: 0px;
			font-size: 0px;
		}
			.b-menu-list > li
			{
				width: 100% !important;
				/*display: none;*/
				margin-bottom: 30px;
			}
			.b-menu-list > li.b-f-contacts{
				display: block;
			
}
			.b-menu-list h3
			{
				font-size: 32px;
				letter-spacing: 2px;
				margin-bottom: 0.8em;
				line-height: 32px;
			}
		.b-menu-wrap
		{
			font-size: 32px;
			line-height: 50px;
		}
			.b-menu-wrap li
			{
			}
	.b-f-about
	{
	}
	.b-f-contacts
	{
		width: 250px !important;
	}
		.b-menu-phone a
		{
		}
		.b-f-contacts p
		{
			margin-bottom: 0px !important;
		} 
	.b-paraweb-copy
	{
		left: 20px;
		bottom: -40px;
	}
.basket .b-wrap .basket-bot .addition button[type=button] {
	font-size: 28px;
	line-height: 62px;
	width: 199px;
}
/* auth */
.g-recaptcha
{
	margin-bottom: 30px;
}
.b-auth .b-form-wrap input[type="text"],
.b-auth .b-form-wrap input[type="email"],
.b-auth .b-form-wrap input[type="password"]
{
	padding: 0px 10px 0px 15px;
	width: 100%;
	height: 53px !important;
	font-size: 14px;
	-webkit-appearance: none;
}
.b-auth .b-form-wrap textarea
{
	padding: 12px 10px 0px 15px;
	width: 100%;
	font-size: 14px;
	line-height: 19px;
	min-height: 168px;
	-webkit-appearance: none;
}
.b-block-l
{
	width: 50%;
	margin-right: 6%;
	min-width: 400px;
}
.b-block-r
{
	width: 44%;
	font-size: 16px;
	line-height: 24px;
}
.b-auth-sender
{
	width: auto;
	width: 100%;
	height: 53px;
	padding: 8px 22px;
	font-size: 16px;
}
.rsArrow{
	/*display: block !important; 
	opacity: 1 !important;
	visibility: visible !important;*/
}
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn {
    background-position: -55px -23px !important;
}
.rsDefault .rsArrowIcn {
    width: 50px !important;
    height: 50px !important;
    left: 0px !important;
    margin-left: 0px !important;
}
.b-item-left .slick-big .slick-arrow {
	width: 50px !important;
    height: 50px !important;
    margin-top: -25px;
}
	.b-item-left .slick-big .slick-arrow.slick-prev {
		background-position: -55px -23px !important;
	}
	.b-item-left .slick-big .slick-arrow.slick-next {
		background-position: -54px -55px !important;
	}
.b-item-left .slick-big {
	margin-top: 113px;
	height: 471px;
}  
.b-item-left .slick-big .big-slide {
	height: 471px;
}
.rsDefault .rsArrow {
    width: 50px !important;
}
.rsDefault.rsHor .rsArrowRight {
    /*right: 10px !important;*/
}
.rsDefault.rsHor .rsArrowRight .rsArrowIcn {
    background-position: -54px -55px !important;
}
.b-catalog-relative .rsOverflow{
	padding-bottom: 60px;
}
.rsDefault .rsBullet {
    width: 50px !important;
    height: 50px !important;
    display: inline-block !important;
    text-align: center !important;
    padding: 6px 5px 6px !important;
}
.rsDefault .rsBullet span {
    display: inline-block !important;
    margin-top: 10px !important;
    width: 30px !important;
    height: 30px !important;
}
.order .input-cont textarea{
	height: 150px;
}
.hidden{
	display: none !important;
}
h2.b-title{
	margin-bottom: 30px !important;
	font-size: 50px !important;
}
.article-cont {
	margin-bottom: 25px;
	font-size: 32px;
	line-height: 42px;
}
.article-cont a{
		font-size: 40px;
		font-family: inherit;
		font-weight: 500;
		line-height: 50px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.article-cont h6,.article-cont h5{
		color: #808080;
		font-size: 25px;
	}
	.article-cont .article-title {
		margin-bottom: 0;
	}
.review {

}
	.review .order-item {
	}
		.review .order-item form{
			width: 710px;
			display: inline-block;
			padding: 20px 0px;
		}
			.review .order-item .btn{
				margin-top: 10px;
				margin-right: 125px;
			}
.review-detail {

}
	.review-detail h6 {
		text-align: right;
	}
	.review-detail h6 a,
	.article-cont h6 a{
		font-size: 32px;
		margin: 0px;
	}
		.review-detail h6 a:hover,
		.article-cont h6 a:hover{
		}
.delivery-photo {
	font-size: 0;
	margin-bottom: 50px;
	padding-top: 10px;
}
	.delivery-photo li {
		display: inline-block;
		padding-top: 39px;
		padding-bottom: 35px;
		width: 100%;
		vertical-align: top;
		text-align: center;
		margin-right: 0px;
		margin-bottom: 40px;
	}
	.delivery-photo li:nth-child(3n) {
		margin-right: 0;
	}
		.delivery-photo li img {
			width: 90%;
			border-radius: 5px;
		}
		.delivery-photo p{
			text-align: left;
			font-size: 14px;
			width: 90%;
			margin-left: 5%;
		}
			.delivery-photo p a{
			}
		.delivery-photo p.review-desc{
			font-size: 32px;
		}
		.delivery-photo p.review-flower{
			font-size: 28px;
			font-weight: 500;
			text-align: right;
		}
.yamme-text-block {
    margin: 0;
    font-size: 14px;
	line-height: 20px;
    letter-spacing: normal;
    padding-bottom: 40px;
}
.yamme-text-block a {
    background: 0 0;
    text-decoration: underline;
}
.yamme-text-block a:hover {
    text-decoration: none;
}

.yamme-text-block b, .yamme-text-block strong {
    font-weight: 700;
}

.yamme-text-block img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}
.yamme-text-block .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.yamme-text-block .img-mvertical {
    margin-top: 30px;
    margin-bottom: 30px;
}
.yamme-text-block .img-rounded {
    border-radius: 6px;
}
.yamme-text-block .img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.yamme-text-block .img-circle {
    border-radius: 50%}
.yamme-text-block hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
.yamme-text-block table {
    border-collapse: collapse;
    border-spacing: 0;
}
.yamme-text-block td, .yamme-text-block th {
    padding: 0;
}
.yamme-text-block *, .yamme-text-block :after, .yamme-text-block :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.yamme-text-block hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}
.yamme-text-block .h1, .yamme-text-block .h2, .yamme-text-block .h3, .yamme-text-block .h4, .yamme-text-block .h5, .yamme-text-block .h6, .yamme-text-block h1, .yamme-text-block h2, .yamme-text-block h3, .yamme-text-block h4, .yamme-text-block h5, .yamme-text-block h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: normal !important;
}
.yamme-text-block .h1 .small, .yamme-text-block .h1 small, .yamme-text-block .h2 .small, .yamme-text-block .h2 small, .yamme-text-block .h3 .small, .yamme-text-block .h3 small, .yamme-text-block .h4 .small, .yamme-text-block .h4 small, .yamme-text-block .h5 .small, .yamme-text-block .h5 small, .yamme-text-block .h6 .small, .yamme-text-block .h6 small, .yamme-text-block h1 .small, .yamme-text-block h1 small, .yamme-text-block h2 .small, .yamme-text-block h2 small, .yamme-text-block h3 .small, .yamme-text-block h3 small, .yamme-text-block h4 .small, .yamme-text-block h4 small, .yamme-text-block h5 .small, .yamme-text-block h5 small, .yamme-text-block h6 .small, .yamme-text-block h6 small {
    font-weight: 400;
    line-height: 1;
}
.yamme-text-block .h1, .yamme-text-block .h2, .yamme-text-block .h3, .yamme-text-block h1, .yamme-text-block h2, .yamme-text-block h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.yamme-text-block h1 {
    margin-bottom: 20px;
}
.yamme-text-block .h1 .small, .yamme-text-block .h1 small, .yamme-text-block .h2 .small, .yamme-text-block .h2 small, .yamme-text-block .h3 .small, .yamme-text-block .h3 small, .yamme-text-block h1 .small, .yamme-text-block h1 small, .yamme-text-block h2 .small, .yamme-text-block h2 small, .yamme-text-block h3 .small, .yamme-text-block h3 small {
    font-size: 65%}
.yamme-text-block .h4, .yamme-text-block .h5, .yamme-text-block .h6, .yamme-text-block h4, .yamme-text-block h5, .yamme-text-block h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.yamme-text-block .h4 .small, .yamme-text-block .h4 small, .yamme-text-block .h5 .small, .yamme-text-block .h5 small, .yamme-text-block .h6 .small, .yamme-text-block .h6 small, .yamme-text-block h4 .small, .yamme-text-block h4 small, .yamme-text-block h5 .small, .yamme-text-block h5 small, .yamme-text-block h6 .small, .yamme-text-block h6 small {
    font-size: 75%}
.yamme-text-block .h1, .yamme-text-block h1 {
    font-size: 50px;
}
.yamme-text-block .h2, .yamme-text-block h2 {
    font-size: 42px;
}
.yamme-text-block .h3, .yamme-text-block h3 {
    font-size: 38px;
}
.yamme-text-block .h4, .yamme-text-block h4 {
    font-size: 35px;
}
.yamme-text-block .h5, .yamme-text-block h5 {
    font-size: 34px;
}
.yamme-text-block .h6, .yamme-text-block h6 {
    font-size: 32px;
}
.yamme-text-block .h6, .yamme-text-block h6,
.yamme-text-block .h1, .yamme-text-block h1,
.yamme-text-block .h2, .yamme-text-block h2,
.yamme-text-block .h3, .yamme-text-block h3,
.yamme-text-block .h4, .yamme-text-block h4,
.yamme-text-block .h5, .yamme-text-block h5,
.yamme-text-block p{
	max-height: 10000px;
}

.yamme-text-block p {
    margin: 0 0 10px;
}
.order-item .input-cont{
	margin-bottom: 30px;
}
.order-item .input-cont label{
	font-size: 32px;
	line-height: 44px;
}
.order-item img{
	width: 302px;
	margin-top: 2px;
}
.review-detail h6{
	margin-top: 30px;
}
.b-order-nav{
	/*border-radius: 4px;*/
	margin-top: 50px;
}
	.b-order-nav li{
		float: left;
		background-color: #FCFCFD;
		list-style: none;
		width: 20%;
		box-sizing: border-box;
		text-align: center;
		padding: 4px 0px 6px;
		position: relative;
		cursor: pointer;
		border: 1px solid #E3E3E3;
		border-left: 0px;
		border-right: 0px;
	}
	.b-order-nav li:nth-child(1){
		width: 15%;
	}
	.b-order-nav li:nth-child(2){
		width: 25%;
	}
	.b-order-nav li:nth-child(3){
		width: 22%;
	}
	.b-order-nav li:nth-child(4){
		width: 21%;
	}
	.b-order-nav li:nth-child(5){
		width: 17%
	}
		.b-order-nav li:before{
			position: absolute;
			content: "s";
			font-size: 0px;
			width: 20px;
			height: 60px;
			left: 0px;
			top: -1px;
			background-position: 0% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/order-nav.png');
			background-size: 105px;
			z-index: 1;
		}
	.b-order-nav li:first-child{
		border-radius: 4px 0px 0px 4px;
		border-left: 1px solid #E3E3E3;
	}
	.b-order-nav li:last-child{
		border-radius: 0px 4px 4px 0px;
		border-right: 1px solid #E3E3E3;
	}
	.b-order-nav li.active:last-child{
		/*border-radius: 0px 2px 2px 0px;*/
	}
		.b-order-nav li:first-child:before{
			display: none;
		}
	.b-order-nav li.active,
	.b-order-nav li:hover{
		background-color: #38BB49;
		border-color: #269034;
	}
		.b-order-nav li.active:before,
		.b-order-nav li:hover:before{
			position: absolute;
			content: "s";
			font-size: 0px;
			width: 35px;
			height: 60px;
			left: -18px;
			top: -1px;
			background-position: 50% 0%;
			background-repeat: no-repeat;
			background-image: url('../i/order-nav.png');
			background-size: 105px;
		}
		.b-order-nav li.active:after,
		.b-order-nav li:hover:after{
			position: absolute;
			content: "s";
			font-size: 0px;
			width: 35px;
			height: 60px;
			right: -17px;
			top: -1px;
			background-position: 100% 0%;
			background-repeat: no-repeat;
			background-image: url('../i/order-nav.png');
			background-size: 105px;
			z-index: 10;
		}
		.b-order-nav li:last-child.active:after,
		.b-order-nav li:last-child:hover:after{
			display: none;
		}
		.b-order-nav li span{
			font-size: 18px;
			font-family: "ProximaNova-Semibold",'ProximaNova-Bold';
			color: #444444;
		}
		.b-order-nav li.active span,
		.b-order-nav li:hover span{
			color: #FFF;
		}
	.basket .b-wrap table tr td:nth-child(4) a{
		font-size: 0px;
	}
	.basket .b-wrap table tr td:nth-child(4) a:before {
	    position: absolute;
	    content: "s";
	    font-size: 0px;
	    width: 30px;
	    height: 30px;
	    background-size: 30px;
	    left: -30px;
	    top: -17px;
	    background-image: url("../i/cross-del.png");
	}
.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-type > div.active{
	background-color: transparent;
}
.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-type > div p{
	font-size: 32px;
	line-height: 40px;
	max-width: 700px;
}
.pay-desc{
	-webkit-transition: all 150ms ease-out;
	   -moz-transition: all 150ms ease-out;
	    -ms-transition: all 150ms ease-out;
	   	 -o-transition: all 150ms ease-out;
			transition: all 150ms ease-out;
	-webkit-transform: translateX(760px);
	   -moz-transform: translateX(760px);
	    -ms-transform: translateX(760px);
	   	 -o-transform: translateX(760px);
			transform: translateX(760px);
}
	.pay-desc.shown{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
		    -ms-transform: translateX(0px);
		   	 -o-transform: translateX(0px);
				transform: translateX(0px);		
	}
	.pay-desc.relative{
		-webkit-transition: all 0ms ease-out;
		   -moz-transition: all 0ms ease-out;
		    -ms-transition: all 0ms ease-out;
		   	 -o-transition: all 0ms ease-out;
				transition: all 0ms ease-out;
		position: relative !important;
		left: 0px !important;
		top: 0px !important;
	}
.b-pay-back{
	text-decoration: none;
	display: block;
	font-size: 32px;
	margin-bottom: 50px;
	margin-top: -10px;
}
.robo p{
	padding-top: 13px;
}
.b-payment .b-wrap .b-payment-cont-left .pay-type-cont .pay-type > div.active:after{
	display: none;
}
.b-rub-long{
	display: none;
}
.b-rub-short{
	display: inline;
}